[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.110.0"
q = "*"
requests = "==2.31.0"
uvicorn = {extras = ["standard"], version = "==0.27.1"}

[dev-packages]

[requires]
python_version = "3.11"
